*{
  margin: 0;
}

@media (max-width: 450px) {
  /* Styles for small screens (e.g., mobile devices) */
}

@media (min-width: 450px) and (max-width: 1024px) {
  /* Styles for medium screens (e.g., tablets) */
}


body {
  display: grid;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'poppins';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
